{% extends 'base.html' %}
{% block body %}
<html>

<head>
 

    <div class="container my-3 ">
        <strong > Make payment and Complete registration</strong>
        <br>
        <strong>{{order.name}}</strong>


<!--
        <form action="/khalti-verify/" method="post">
            {%csrf_token%}
        <div class=" mb-3">
            <label for="user_id" class="form-label">Enter Token</label>
            <input type="number" class="form-control" id="user_id" name="user_id" required>

        </div>
        
    </form>
-->
</div>

<button  class="btn btn-danger mx-3 my-4" id="payment-button">Pay with Khalti</button>
<!-- copied from khalti client integration-->

    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
</head>

<body>

    <!-- Place this where you need payment button -->
    
    <!-- Place this where you need payment button -->
    <!-- Paste this code anywhere in you body tag -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script>
        var config = {
            // replace the publicKey with yours
            "publicKey": "live_public_key_3b1378cdc2e641019eb2df0b879529cc",
            "productIdentity": "67",
            "productName": "Makeyourselfknown",
            "productUrl": "http://127.0.0.1:8000/",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
            ],
            "eventHandler": {
                onSuccess(payload) {
                    // hit merchant api for initiating verfication
                   axios.get("/khalti-verify", {
                        params: {
                            "token": payload.token,
                            "amount": payload.amount,
                            
                        } 
                    }).then(function (resp) {
                        if (resp.data.success == true) {
                            alert("Congratulation You are Now Part of Internet Function")
                            location.href = "/"
                        } else {
                            alert("Sorry. Error occurred")
                            location.href = "{{request.build_absolute_uri}}"
                        }
                    })
                },
                onError(error) {
                    console.log(error);
                },
                onClose() {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({ amount: 9900 });
        }
    </script>
  














</body>

</html>
















{% endblock body %}